$r:{{color.r}};
$g:{{color.g}};	
$b:{{color.b}};	

$rgb : $r + $g + $b;
$baseColor: rgb($r, $g, $b); 	

@function fontColor() {
	@if $rgb/3 > 178{
		@return #000000;
	} @else {
		@return #ffffff;
	}
}
 
//-------------------------- FONTE ------------------------------- 
$fontePadrao: {{font.name}}, sans-serif;

//-------------------------- LOGO ------------------------------- 
$logo: url("{{&logo.url}}") no-repeat;

//-------------------------- BACKGROUND SLIDE  ------------------------------- 
$background_atividade: url(assets/images/background_atividade.png);


